body,
html {
  margin: 0;
}

body {
  text-align: center;
  font-family: "Delius";
  font-size: 16px;
  color: white;
  background: #0e2f44;
}

h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 2em;
  margin: 0.5em;
}

h2 {
  font-size: 1.6em;
  margin: 0.5em 0;
}

h2:first-of-type {
  margin-top: 0.5em;
}

table,
tr,
td {
  border: 1px solid white;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

input[type="number"],
input[type="submit"] {
  width: 6em;
  border: none;
  background-color: white;
  padding: 4px 10px;
}

input[type="number"]:focus {
  border: 2px solid #000000;
}

input {
  margin-top: 1em;
}

label {
  cursor: pointer;
  margin-left: 2em;
}

/* validation */

input:invalid {
  color: red;
  font-weight: bolder;
}