:root {
  --color1: #daad86;
  --color2: #1d2120;
}

body,
html {
  margin: 0;
  line-height: 1.5;
}

body {
  text-align: center;
  font-family: "Delius",sans-serif  ;
  font-size: 16px;
  background: var(--color1);
  color: var(--color2);
}

header {
  background: var(--color2);
  color: var(--color1);
  padding: 2em 0em;
}

h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

main {
  margin: 0 0 6em;
}

table {
  border: 1px solid var(--color2);
  background-color: var(--color2);
  box-shadow: 11px 11px 11px 0px rgba(50, 50, 50, 2);
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 10px;
}

td {
  width: 10px;
}

input[type="text"],
input[type="submit"] {
  border: none;
  background-color: white;
  padding: .5em 1em;
  outline: 0;
}

input[type="submit"] {
  background-color: var(--color2);
  color: var(--color1);
  margin-top: 1em;
  padding: 1em 5em;
  border: 1px solid var(--color2);
}

input[type="submit"]:hover{
  background-color: var(--color1);
  color: var(--color2);
  border: 1px solid var(--color2);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);
}

input[type="text"]:focus {
  border: 1px solid var(--color2);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);
}

input[type="submit"]:active {
  background-color: var(--color1);
  color: var(--color2);
  border: 1px solid var(--color2);
  box-shadow: none;
}

label {
  cursor: pointer;
}

/* validation */

input:invalid {
  color: red;
  font-weight: bolder;
}

.error {
  display: none;
}

/* media queries */
@media only screen and (max-width:1250px) {
  main {
    display: none;
  }

  .error{
    display: block;
  }
}